@charset "utf-8";
/* CSS Document */

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

:root {
    background: url("slike/bozic.jpg");
	background-size: cover;
}


body {
    margin: 0;
    padding: 0;
	align-content: center;
}

.main-header {
    
    padding: 20px;
    text-align: center;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.title {
    font-size: 30px;
    font-family:"Mountains of Christmas";
    margin: 0;
	 text-align: center;
    padding: 15px;
    background-color:rgba(243,235,188,1.00);
    color: black;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}


.nav-list {
    list-style: none;
    padding: 10px;
	background-color: rgba(249,243,184,1.00);
    border-radius: 10px;
    display:flow-root;
	text-align: center;
    max-width: 50%;
    margin-left: 25%;
	
	
}
.container {
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: beige;
}

.content-section {
    margin: 120px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    background-color:white;
    width: 50%;
    margin-left: 25%;
}

.section-title {
    color:green;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: var(--red);
	
}

.content-section:nth-child(odd) {
    background-color: rgba(249,243,184,1.00);
    
}
.content-section:nth-child(even) {
    background-color:rgba(253,216,216,1.00);
}

.main-footer {
    text-align: center;
    padding: 15px;
    background-color:rgba(243,235,188,1.00);
    color: black;
    font-size:25px;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
}

nav{
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.8em;
    }
    .nav-list {
        flex-direction: column;
		
    }
    .nav-item a {
        margin: 10px 0;
    }
}
img{
	width: 100px;
	display: block;
    margin: 0 auto;
	
}
span{
	font font-weight: bold;
}
